<div>
  <svg id="canvas" class="center" [ngStyle]="canvasStyles" [style.transform]="svgTransform" (click)="handleSvgClick($event)">
    <g class="circlesG" *ngIf="data$ && forceSimulationActive" [style.transform]="circlesGroupTransform">
    </g>
  </svg>
  <!-- sliders -->
  <p class="sliders-title">Explore Canada’s job landscape according to your present or future skills</p>

  <div class='container'>

    <div class="sliders-container">
      <p class="sliders-subtitle">
        Adjust your skills:
      </p>

      <!-- sliders grid -->
      <div class="grid-container">
        <div class="spacer"></div>
        <div class="slider-container" *ngFor="let filter of filterSliders">
          <app-filter-slider class="slider" (mouseUpEvent)="handleSliderMouseUp($event, filter.variable)" (dragEvent)="handleSliderDrag($event, filter.variable)"
            [filterVariable]="filter.variable" [title]="filter.title"></app-filter-slider>
        </div>
        <div class="spacer">

        </div>



      </div>

    </div>

    <!-- reset button -->
    <button *ngIf="slidersInUse && !mobileView" class="btn reset-btn green-text white waves-effect" (click)="resetFilters()"
      @slideInFromRight>
      <mat-icon>restore</mat-icon>
    </button>

    <!-- mobile sliders -->
    <div class="sliders-container-mobile center">

      <div class="adjust-values-container center">

        <button class="btn sliders-mobile-btn white green-text" [matMenuTriggerFor]="slidersMenu">
          Adjust your skills
        </button>

        <!-- mobile reset button -->
        <button *ngIf="slidersInUse" class="btn reset-mobile-btn green-text white waves-effect" (click)="resetFilters()" @slideInFromRight>
          <mat-icon>restore</mat-icon>
        </button>

      </div>

      <mat-menu #slidersMenu="matMenu">
        <div mat-menu-item class="sliders-menu-item" *ngFor="let filter of filterSliders" (click)="showMobileSlider(filter.variable)">
          {{filter.title}}
        </div>
      </mat-menu>

      <div class="slider-container-mobile" *ngFor="let filter of filterSliders">
        <div class="slider-card-mobile z-depth-1" *ngIf="mobileSliderActive[filter.variable]" @easeInOut>
          <app-filter-slider class="slider" (mouseUpEvent)="handleSliderMouseUp($event, filter.variable)" [filterVariable]="filter.variable"
            (dragEvent)="handleSliderDrag($event, filter.variable)" [filterVariable]="filter.variable" [title]="filter.title"
            [(ngModel)]="filter.value"></app-filter-slider>
          <mat-icon (click)="showMobileSlider(null)" *ngIf="mobileSliderActive[filter.variable]">close</mat-icon>
        </div>
      </div>

    </div>




  </div>

  <!-- controls -->
  <div class="controls-container">

    <!-- dropdowns -->
    <div class="dropdowns-container">
      <app-change-colours-dropdown [colourScale]="colourScale"></app-change-colours-dropdown>
      <app-change-sizes-dropdown [nodeAttraction]="nodeAttraction" [minRadius]="minRadius"></app-change-sizes-dropdown>
    </div>

    <!-- sort buttons -->
    <div class="sort-buttons-container center">
      <app-colour-sort-button [forceXCombine]="forceXCombine" [forceYCombine]="forceYCombine" [nClusters]="numClusters" [width]="width"
        [height]="height"></app-colour-sort-button>
      <app-size-sort-button [forceXCombine]="forceXCombine" [forceYCombine]="forceYCombine" [nClusters]="numClusters" [width]="width"
        [height]="height"></app-size-sort-button>
    </div>

    <!-- mobile controls -->
    <div class="controls-mobile-container center">

      <!-- mobile sort buttons -->
      <button class="btn legend-button-mobile btn-small white green-text z-depth-1" [matMenuTriggerFor]="legendMenu">Legend</button>

      <mat-menu #legendMenu="matMenu" yPosition="above">

        <div mat-menu-item class="legend-menu-item">
          <app-change-colours-dropdown [colourScale]="colourScale"></app-change-colours-dropdown>
        </div>

        <div mat-menu-item class="legend-menu-item">
          <app-change-sizes-dropdown [nodeAttraction]="nodeAttraction" [minRadius]="minRadius"></app-change-sizes-dropdown>
        </div>

      </mat-menu>

      <button class="btn sort-button-mobile btn-small white green-text z-depth-1" [matMenuTriggerFor]="sortMenu">Sort</button>

      <mat-menu #sortMenu="matMenu" yPosition="above" xPosition="before">

        <div mat-menu-item class="sort-menu-item">
          <app-colour-sort-button [forceXCombine]="forceXCombine" [forceYCombine]="forceYCombine" [nClusters]="numClusters" [width]="width"
            [height]="height"></app-colour-sort-button>
        </div>

        <div mat-menu-item class="sort-menu-item">
          <app-size-sort-button [forceXCombine]="forceXCombine" [forceYCombine]="forceYCombine" [nClusters]="numClusters" [width]="width"
            [height]="height"></app-size-sort-button>
        </div>

      </mat-menu>
    </div>
    <div class="graph-button-container center">
      <mat-slide-toggle [checked]="forceSimulationActive" (change)="toggleForceSimulationActive()">Force Simulation</mat-slide-toggle>
      <!-- <app-graph-mode class="graph-button" [nodes]="nodes" [forceXCombine]="forceXCombine" [forceYCombine]="forceYCombine"
        [nClusters]="numClusters" [width]="width" [height]="height" ></app-graph-mode> -->
    </div>

  </div>

  <!-- tooltip -->
  <div *ngIf="tooltipData">
    <app-tooltip [tooltipData]="tooltipData" [expanded]="tooltipExpanded"></app-tooltip>
  </div>

</div>
