<div>
  <svg id="canvas" class="center" [ngStyle]="canvasStyles" [style.transform]="svgTransform" (click)="closeTooltip($event)">
    <g class="circlesG" *ngIf="data$" [style.transform]="gTransform">
    </g>
  </svg>

  <p class="sliders-title">Explore Canada’s job landscape according to your present or future skills</p>

  <div class='container'>

    <div class="sliders-container">

      <p class="sliders-subtitle">Adjust your skills:</p>

      <div class="grid-container">

        <div class="slider-container" *ngFor="let filter of filterSliders">
          <app-filter-slider class="slider" (childEvent)="handleSliderUpdate($event, filter.variable)" [filterVariable]="filter.variable"
            [title]="filter.title"></app-filter-slider>
        </div>

      </div>

    </div>

    <div class="sliders-container-mobile center">
      <button class="btn sliders-mobile-btn"
      [matMenuTriggerFor]="slidersMenu"
      >Adjust your skills</button>

      <mat-menu #slidersMenu="matMenu">
        <div mat-menu-item class="sliders-menu-item"
        *ngFor="let filter of filterSliders"
        (click)="showMobileSlider(filter.variable)">
          {{filter.title}}
        </div>
      </mat-menu>

      <div class="slider-container-mobile" *ngFor="let filter of filterSliders"
      >
        <div class="slider-card-mobile z-depth-1" *ngIf="mobileSliderActive[filter.variable]">
          <app-filter-slider
          class="slider" (childEvent)="handleSliderUpdate($event, filter.variable)" [filterVariable]="filter.variable"
            [title]="filter.title"></app-filter-slider>
          <mat-icon (click)="showMobileSlider()">close</mat-icon>
        </div>
      </div>
    </div>


  </div>
  <div class="controls-container">

    <div class="dropdowns-container">
      <app-change-colours-dropdown [colourScale]="colourScale"></app-change-colours-dropdown>
      <app-change-sizes-dropdown [nodeAttraction]="nodeAttraction" [nodePadding]="nodePadding" [minRadius]="minRadius" [width]="width"></app-change-sizes-dropdown>
    </div>

    <div class="sort-buttons-container center">
      <app-colour-legend-button [forceXCombine]="forceXCombine" [forceYCombine]="forceYCombine" [nClusters]="numClusters" [width]="width"
        [height]="height" [navbarHeight]="navbarHeight"></app-colour-legend-button>
      <app-size-legend-button [forceXCombine]="forceXCombine" [forceYCombine]="forceYCombine" [nClusters]="numClusters" [width]="width"
        [height]="height" [navbarHeight]="navbarHeight"></app-size-legend-button>
    </div>
    <div class="controls-mobile-container center">
      <button class="legend-button-mobile btn-small"
      [matMenuTriggerFor]="legendMenu"
      >Legend</button>
      <mat-menu #legendMenu="matMenu" yPosition="above">
        <div mat-menu-item class="legend-menu-item">
          <app-change-colours-dropdown [colourScale]="colourScale"></app-change-colours-dropdown>
        </div>
        <div mat-menu-item class="legend-menu-item">
          <app-change-sizes-dropdown [nodeAttraction]="nodeAttraction" [nodePadding]="nodePadding" [minRadius]="minRadius" [width]="width"></app-change-sizes-dropdown>
        </div>
      </mat-menu>
      <button class="sort-button-mobile btn-small"
      [matMenuTriggerFor]="sortMenu"
      >Sort</button>
      <mat-menu #sortMenu="matMenu" yPosition="above">
        <div mat-menu-item class="sort-menu-item">
          <app-colour-legend-button [forceXCombine]="forceXCombine" [forceYCombine]="forceYCombine" [nClusters]="numClusters" [width]="width"
            [height]="height" [navbarHeight]="navbarHeight"></app-colour-legend-button>
        </div>
        <div mat-menu-item class="sort-menu-item">
          <app-size-legend-button [forceXCombine]="forceXCombine" [forceYCombine]="forceYCombine" [nClusters]="numClusters" [width]="width"
            [height]="height" [navbarHeight]="navbarHeight"></app-size-legend-button>
        </div>
      </mat-menu>
    </div>
    <!-- <div class="graph-button-container center">
      <app-graph-mode class="graph-button" [nodes]="nodes" [forceXCombine]="forceXCombine" [forceYCombine]="forceYCombine"
        [nClusters]="numClusters" [width]="width" [height]="height" [navbarHeight]="navbarHeight"></app-graph-mode>
    </div> -->

  </div>


  <div *ngIf="tooltipData" @ngIfAnimation>
    <app-tooltip @easeInOut [tooltipData]="tooltipData" [expanded]="tooltipExpanded" [mobileBreakPoint]="mobileBreakPoint"></app-tooltip>
  </div>

</div>
