      body, html {
        overflow-y: hidden;
      }
      svg {
        transition: transform 1s;
      }
      circle {
        transition: fill 1s, stroke 1s;
      }
      .sliders-title {
        line-height: 0.2rem;
        font-size: 16px;
      }
      .sliders-container {
        height: 160px;
        width: 93%;
        position: fixed;
        bottom: 0px;
        left: 4%;
        pointer-events: none;
      }
      .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
      }
      .slider {
        display: inline-block;
        height: inherit;
        width: 19.5vw;
        margin-left: 2vw;
      }
      .mat-slider {
        pointer-events: auto;
      }
      .divider-inline {
        display: inline-block;
        height: 75px;
      }
      .buttons-container {
        margin-top: 20px;
        display: grid;
        grid-gap: 5%;
        grid-template-columns: auto auto auto;
      }
      .grid-item-1 {
        display: grid;
        grid-template-rows: auto auto;
        grid-gap: 10px;
      }
      .grid-item-3 {
        display: grid;
        grid-template-rows: auto auto;
        grid-gap: 10px;
      }

@media only screen and (max-width: 600px) {
    .grid-container {
      grid-template-columns: auto auto;
    }
    .sliders-container {
      bottom: 70px;
    }
    .slider {
      width: 43vw;
    }
}
