      body, html {
        overflow-y: hidden;
      }
      svg {
        transition: transform 1s;
      }
      // circle {
      //   transition: fill 1s, stroke 1s, fill-opacity 1s;
      // }
// mobile

// tablet & desktop
// @media (min-width: 576px) {

      .sliders-container {
        height: 160px;
        max-width: 700px;
        margin: 22px auto 0 auto;
        left: 4%;
        pointer-events: none;
      }
      .sliders-title {
        font-size: 24px;
        text-align: center;
        margin: 20px 4% 0 4%;
      }
      .sliders-subtitle {
        line-height: 0.2rem;
        font-size: 18px;
        font-weight: bold;
      }
      .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
      }
      .slider {
        display: inline-block;
        height: inherit;
        width: 100%;
        margin-left: 2vw;
      }
      .mat-slider {
        pointer-events: auto;
      }
      .divider-inline {
        display: inline-block;
        height: 75px;
      }
      .sort-buttons-container {
        position: absolute;
        bottom: 50px;
        right: 50px;
        display: grid;
        grid-gap: 10px;
        grid-template-rows: auto auto;
      }
      .graph-button-container {
        margin-bottom: 30px;
        margin-left: 10px;
      }
      .dropdowns-container {
        display: grid;
        grid-template-rows: auto auto;
        position: absolute;
        left: 50px;
        bottom: 50px;
      }
      .controls-container {
        position: absolute;
        bottom: 0px;
        width: 100%;
      }
      .controls-mobile-container {
      display: none;
      }
//  }

@media only screen and (max-width: 834px) {
  .sliders-title {
    font-size: 2.8vw;
  }
}

@media only screen and (max-width: 790px) {
  .sort-buttons-container {
    bottom: 20px;
    right: 45px;
  }
  .dropdowns-container {
    bottom: 20px;
    left: 30px;
  }
  .graph-button {
  }

}
// todo: switch to min-width for performance
@media only screen and (max-width: 692px) {
    .grid-container {
      grid-template-columns: auto auto;
    }
    .sliders-container {
      width: 100%
    }
    .slider {
      width: 100%;
    }
    .sort-buttons-container, .dropdowns-container {
      transform: scale(0.8);
    }
}
// mobile
@media only screen and (max-width: 576px) {
    .grid-container {
      grid-template-columns: auto auto;
    }
    .sort-buttons-container, .dropdowns-container, {
      display: none;
    }
    .controls-mobile-container {
      display: block;
      margin-left: 10px;
    }
    .controls-mobile-container button {
      margin: 0 5px 8px 5px;
    }
    .mat-menu-item {
      height: 75px;
    }
}
