  .tooltip {
        position: absolute;
        text-align: center;
        width: 360px;
        padding: 5px;
        font: 12px sans-serif;
        background: lightgrey;
        border: 0px;
        border-radius: 8px;
        transition: top 0.2s;
        transition: bottom 0.2s;
      }
      .panel {
      }
      mat-expansion-panel-header {
      }
      .mat-content {
        height: 150px;
      }
      .tooltip-card {
        max-width: 400px;
      }
      .header-image {
        height: 72px;
        width: 72px;
        background-size: cover;
      }
      mat-card-subtitle {
        font-size: 12px;
        margin-bottom: 0px;
      }
      mat-action-row {
        justify-content: center;
        padding: 16px 24px;
      }
      .btn-icon {
        vertical-align: middle;
        display: inline-block;
        margin-top: -4px;
      }
      .blue-icon {
        color: blue;
      }
      .orange-icon {
        color: orange;
      }
